<header [class.headerDark]="darkMode">
    <div class="menu-logo">
        <a routerLink="">
            <img *ngIf="!darkMode" src="assets/img/logo_bright.jpg">
            <img *ngIf="darkMode" src="assets/img/logo_dark.jpg">
            <p [class.darkLinks]="darkMode">VG</p>
        </a>
    </div>
    <div [class.darkLinks]="darkMode">
        <a routerLink="">Start</a>
        <a href="#">Lebenslauf</a>
        <a routerLink="/data-protection">Datenschutz</a>
        <a routerLink="/imprint">Impressum</a>
    </div>
</header>